section#about-section.container
  .row
    .col-sm-6
      .row
        .col-sm-12
          h3.i18n(data-i18n="about.hi")
        .col-sm-12
          p.i18n(data-i18n="about.aboutContent")
    .col-sm-6
      .row
        .col-sm-12
          h3(data-i18n="about.tech")
        .col-sm-12
          table.table
            tbody
              tr
                td
                  img(src="resources/node.svg", alt="node logo",class=" svg-logo")
                td Node
                td.i18n(data-i18n="about.node")
              tr
                td
                  img(src="resources/electron.svg", alt="electron logo",class=" svg-logo")
                td Electron
                  td.i18n(data-i18n="about.electron")
              tr
                td
                  img(src="resources/gulp.svg", alt="gulp logo",class=" svg-logo")
                td Gulp
                td.i18n(data-i18n="about.gulp")
              tr
                td
                  img(src="resources/mongodb.svg", alt="mongodb logo",class=" svg-logo")
                td Mongo
                td.i18n(data-i18n="about.mongo")
              tr
                td
                  img(src="resources/html5.svg", alt="mongodb logo",class=" svg-logo")
                td Responsive
                td.i18n(data-i18n="about.responsive")
              tr
                td
                  img(src="resources/react.svg", alt="react logo",class=" svg-logo")
                td React
                td.i18n(data-i18n="about.react")
              tr
                td
                  img(src="resources/angular.svg", alt="react logo",class=" svg-logo")
                td Angular
                td.i18n(data-i18n="about.angular")


    .col-sm-6
