#resume-section
  section
    .container
      .row
        h2.i18n(data-i18n="work.tittle").col-sm-12.text-center

        h5.i18n(data-i18n="work.cv").col-sm-12.text-center
      .row
        .row
          .col-sm-3
            .col-sm-12.text-center
              h5.i18n(data-i18n="work.job5.years")
          .col-sm-9.resume-right
              h5.first
                strong.i18n(data-i18n="work.job5.title")
              p
                strong.i18n(data-i18n="work.job5.company")
              p.i18n(data-i18n="work.job5.desc")
        .row
          .col-sm-3
            .col-sm-12.text-center
              h5.i18n(data-i18n="work.job4.years")
          .col-sm-9.resume-right
              h5
                strong.i18n(data-i18n="work.job4.title")
              p
                strong.i18n(data-i18n="work.job4.company")
              p.i18n(data-i18n="work.job4.desc")
        .row
          .col-sm-3
            .col-sm-12.text-center
              h5.i18n(data-i18n="work.job3.years")
          .col-sm-9.resume-right
              h5
                strong.i18n(data-i18n="work.job3.title")
              p
                strong.i18n(data-i18n="work.job3.company")
              p.i18n(data-i18n="work.job3.desc")
        .row
          .col-sm-3
            .col-sm-12.text-center
              h5.i18n(data-i18n="work.job2.years")
          .col-sm-9.resume-right
            h5
              strong.i18n(data-i18n="work.job2.title")
            p
              strong.i18n(data-i18n="work.job2.company")
            p.i18n(data-i18n="work.job2.desc")

        .row
          .col-sm-3
            .col-sm-12.text-center
              h5.i18n(data-i18n="work.job1.years") 2011-2013
          .col-sm-9.resume-right.last
            h5
              strong.i18n(data-i18n="work.job1.title") Pasante
            p
              strong.i18n(data-i18n="work.job1.company")
            p.i18n(data-i18n="work.job1.desc")
