#contact-section
  .container
    .row
      .col-sm-2.col-sm-offset-3.text-center
        a(href="https://twitter.com/rodikana")
          | Twitter
      .col-sm-2.text-center
        a(href="https://mx.linkedin.com/in/quezadarodrigo")
          | Linkedin
      .col-sm-2.text-center
        a(href="https://github.com/Ikana")
          | Github
    .row.logo-c
      img(src="/resources/rurik.svg", alt="rurik").logo
    .row.text-center(data-i18n="contact.madeInMexico")
