section.Normal-section#aboutme
  h2.i18n-aboutme Sobre mi
  p.i18n-intro1
    | Soy desarrollador de software. He trabajado para varias start-ups del area metropolitana, colaborando
    | con gente talentosa a materializar nuestras ideas mediante aplicaciones web, siempre usando tecnología de punta.
  p.i18n-intro2
    | Me gusta participar en eventos de desarrollo e innovación, sobre todo para conocer gente nueva de la que pueda aprender.
  p.i18n-intro3
    | Mi lenguaje favorito es JavaScript pero, a lo largo de trayectoria profesional he programado en muchos lenguajes como C, C++, Java, scala y otros.
