section.Normal-section.halfs
  .half
    h2 CV
    ul.Experience
      li
        .Experience-date 2017
        .Experience-dets
          h3.Experience-title Datank
          .Experience-content Lead Front end Developer
      li
        .Experience-date 2016 
        .Experience-dets
          h3.Experience-title SocialDecode
          .Experience-content Back end Developer
      li
        .Experience-date 2016
        .Experience-dets
          h3.Experience-title HolaGus
          .Experience-content Front end Developer
      li
        .Experience-date 2015
        .Experience-dets
          h3.Experience-title Drakkar
          .Experience-content Full stack Developer
      li
        .Experience-date 2013
        .Experience-dets
          h3.Experience-title Paradox
          .Experience-content Jr Developer
  .half
    h2.i18n-projects Proyectos
    ul.Experience
      li
        .Experience-date 2017
        .Experience-dets
          h3.Experience-title.Experience-title--click.i18n-suicide#npm-size Npm Size
          .Experience-content React, svg.js
