section.Hero#hero
  .Hero-main
    a(data-scroll href="#aboutme").scroll
      i.fa.fa-angle-double-down(aria-hidden='true').animated.flash
    .Hero-contact-box
      .Hero-name-media
        h1.alt.big RODRIGO
        h1.alt.small RQ
        h2.alt.i18n-programer Programador
      .Hero-social-media
        a(href="https://twitter.com/rodikana")
          i(aria-hidden="true").fa.fa-twitter
        a(href="https://www.linkedin.com/in/quezadarodrigo/")
          i(aria-hidden="true").fa.fa-linkedin
        a(href="https://github.com/Ikana")
          i(aria-hidden="true").fa.fa-github
        a(href="https://medium.com/@roderik.ikana")
          i(aria-hidden="true").fa.fa-medium
