.Overlay {
  z-index: 2;
  width: 2rem;
  height: 2rem;
  color: white;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 3rem;
  cursor: pointer;
  margin: 0;
  opacity: 0.8;
}
.Overlay-name {
  left: 3rem;
}

.Overlay-lang {
  right: 3rem;
}

.Overlay-white {
  height: 2rem;
  background: white;
  position: fixed;
  width: 100vw;
}

body {
  position: relative;
}
